@include responsive("large") {
  #Myhome {
    height: 100%;
    .content_left {
      h4 {
        margin-bottom: 30px;
      }
      h1 {
        a {
          font-size: 3rem;
        }
      }
      p {
        padding-right: 20px;
      }
    }
    .content_right {
      height: 90vh;
      .bg_home {
        transform: translateY(90%);
        left: 40%;
      }
      img {
        position: absolute;
        width: 50%;
        transform: translateY(85%);
        left: 50%;
      }
    }
  }

  #Myresume {
    .experience_title {
      left: -62%;
    }
    .education_title {
      right: 12%;
    }
  }

  #Myportfolios {
    .swiper-slide img {
      width: 50%;
    }
    .swiper-container {
      margin: 0;
    }
    .detail {
      width: 50%;
      right: 5%;
      bottom: -5%;
    }
  }
}
