@include responsive("medium") {
  #Myheader {
    &.headerClass {
      opacity: 0.5;
      .navbar {
        .header_right {
          background-color: $color-green-1;
          opacity: 0.9;
          text-align: center;
          li {
            color: $color-green;
            margin: 10px 0;
          }
        }
      }
    }
    button {
      &:focus {
        outline: none;
      }
      background-color: $color-green;
    }
    .navbar {
      .header_right {
        margin-top: 20px;
        border-radius: 5px;
        background-color: $color-green-1;
        text-align: center;
        color: $color-green;
        li {
          color: $color-green;
          margin: 10px 0;
        }
      }
    }
  }

  #Myhome {
    .content_left {
      transform: translateY(20%);
    }
    .content_right {
      height: 110vh;
      .bg_home {
        width: 50%;
      }
      img {
        width: 50%;
        transform: translateY(120%);
        left: 50%;
      }
    }
  }

  #Myresume {
    .title_side {
      transform: translate(0, -120%) rotate(0);
      font-size: 2rem;
      padding-left: 20px;
    }
    .experience_title {
      left: 0;
    }
    .education_content {
      margin-top: 55px;
      .block_content {
        margin: 0 20px 50px 50px;
      }
      .education_title {
        left: 0;
      }
    }
  }

  #Myportfolios {
    .swiper-slide {
      .bg {
        width: 70%;
      }
      .detail {
        right: 5%;
      }
    }
    .swiper-button-next:after,
    .swiper-button-prev:after {
      display: none !important;
    }
  }
  #Myskills {
    i {
      display: none;
    }
    li {
      position: relative;
      justify-content: center;
      transition: all 1s;
      height: 50px;
      .skill_unit {
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translateX(-50%);
      }
      .skill_item {
        display: none;
        transition-duration: 1.5s;
        transition-delay: 3s;
        font-size: 12px;
      }
      &:hover {
        height: 150px;
        .skill_unit {
          top: 5%;
        }
        .skill_item {
          display: block;
        }
      }
    }
  }

  #Myabout {
    .content_right {
      ul {
        margin-top: 50px;
        li {
          padding-left: 50px;
        }
      }
    }
  }
}
