@include responsive("extra-large") {
  #Myresume {
    .education_title {
      right: 10%;
    }
    .experience_title {
      left: -52%;
    }
  }
  #Myhome {
    overflow: hidden;
    height: 100vh;
    .content_left {
      transform: translateY(20%);
      h1 {
        height: 100px;
      }
    }
    .content_right {
      height: 120vh;
      .bg_home {
        left: 20%;
      }
      img {
        position: absolute;
        width: 150%;
        transform: translateY(15%);
        left: -15%;
      }
    }
  }
  #Myportfolios {
    .bg {
      width: 50%;
    }
    .swiper-container {
      width: 100%;
    }
    .swiper-slide {
      .detail {
        .block_content {
          padding: 10px 10px 0 10px;
          .block_text {
            padding: 0 20px;
          }
        }
      }
    }
  }
}
