.Myportfolio {
  height: 100%;
  background-color: $color-green;
  position: relative;
  width: 100%;
  overflow: hidden;

  .swiper-container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 50px 0;
  }

  .swiper-slide {
    background: $color-green;
    width: 70%;
    height: 100%;
    padding: 100px 0;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;

    .detail {
      position: absolute;
      box-shadow: 10px 10px 8px #888888;
      margin: 20px 0;
      bottom: -10%;
      right: 10%;
      height: 230px;
      width: 40%;
      background: white;
      border: $color-green-1 2px solid;
      border-radius: 20px;
      z-index: 2;
      .block_content {
        padding: 10px 10px 0 10px;
        .block_text {
          padding: 0 20px;
        }
      }
      .link_btn {
        button {
          background-color: $color-red;
          color: white;
          &:hover {
            opacity: 0.8;
          }
          &:focus {
            outline: none;
            box-shadow: none;
          }
          a {
            text-decoration: none;
            color: white;
            cursor: pointer;
          }
        }
        .btn_demo {
          background-color: $color-green-1;
        }
      }
    }

    .bg {
      .dark {
        background-color: rgba(75, 6, 6, 0.212);
        position: absolute;
        width: 150%;
        height: 150%;
        top: -10%;
        right: 0;
        z-index: 1;
        transform: skewX(20deg) translateX(120%);
        transition: all 0.7s;
        cursor: pointer;
      }
      .link {
        position: absolute;
        width: 40px;
        height: 40px;
        top: 50%;
        left: 50%;
        border: 5px solid white;
        opacity: 0;
        border-radius: 60px;
        transition: all 0.5s;

        i {
          text-align: center;
          color: $color-red;
          padding-left: 9px;
          line-height: 31px;
        }
      }
      img {
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 20px;
      }
      position: relative;
      width: 38%;
      height: 320px;
      overflow: hidden;
      border: $color-green-1 2px solid;
      border-radius: 20px;
    }
  }

  .bg:hover {
    .dark {
      transform: translateX(15%) skewX(20deg);
    }
    .link {
      opacity: 1;
      transform: scale(1.2);
    }
  }
}
