.Myskills {
  .Myskills_content {
    padding: 50px 0;

    ul {
      list-style: none;
      &:hover {
        li {
          filter: blur(8px);
          transform: scale(0.9);
        }
      }
      li {
        border: $color-green-2 2px solid;
        border-radius: 40px;
        display: flex;
        height: 60px;
        align-items: center;
        justify-content: left;
        padding: 15px 30px;
        background-color: $color-green;
        margin: 0 30px 40px;
        transition: all 0.5s;
        &:hover {
          filter: none;
          transform: none;
        }
        .skill_item {
          height: 40px;
          width: 150px;
          border: $color-green-2 2px solid;
          border-radius: 40px;
          padding: 5px;
          margin-right: 20px;
          line-height: 30px;
          color: $color-green-1;
          background-color: white;
          text-align: center;
          font-weight: bold;
          img {
            width: 100%;
            height: 100%;
          }
        }
        .skill_unit {
          margin-right: 30px;
          font-size: 20px;
          width: 100px;
        }
      }
    }
  }
}
